.supplier-item {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  border-right: 1px solid #efefef;

  .title {
    padding: 10px 20px;

    h2 {
      font-family: 'Inter';
      font-size: 3.1rem;
      font-weight: 900;
      color: #1E5162;
    }
  }

  .slogan {
    margin-bottom: 20px;

    p {
      font-size: 1.4rem;
      color: #252525;
    }
  }

  img {
    width: 30%;
    object-fit: cover;
  }

  &:last-child {
    border-right: none;
  }

  a {
    text-decoration: none;
  }
}