main {
  position: relative;
  margin-top: 150px;
  background-color: white;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);

  h1 {
    position: absolute;
    font-size: 12rem;
    font-weight: 900;
    color: #1E5162;
    top: -117%;
    left: 5px;
  }
}